__pycache__/
*.py[cod]
.venv/
env/
venv/

.env

.dockerignore

node_modules/
.cache/

*.log
current_output_log.txt

.vscode/

token.json
credentials.json

app/frontend/node_modules/
app/frontend/dist/
app/frontend/.cache/
chrome
chrome-profile/
chrome-profile-backup/
